# Appendix 3: Python Libraries Crash Course

## Part 8: Pandas - Advanced Topics

## Removing Columns

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer.drop(columns = "Sport")

In [ ]:
summer.head()

In [ ]:
summer.drop(columns = ["Sport", "Discipline"], inplace=True)

In [ ]:
summer.drop(labels = "Event", axis = "columns", inplace= True)

In [ ]:
#del summer["Event"]

In [ ]:
summer.head()

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer = summer.loc[:,["Year", "City", "Athlete", "Country", "Gender", "Medal"]]

In [ ]:
summer.head()

## Understanding GroupBy objects

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.info()

In [ ]:
titanic_slice = titanic.iloc[:10, [2,3]]

In [ ]:
titanic_slice

In [ ]:
titanic_slice.groupby("sex")

In [ ]:
gbo = titanic_slice.groupby("sex")

In [ ]:
type(gbo)

In [ ]:
gbo.groups

In [ ]:
l = list(gbo)

In [ ]:
l

In [ ]:
len(l)

In [ ]:
l[0]

In [ ]:
type(l[0])

In [ ]:
l[0][0]

In [ ]:
l[0][1]

In [ ]:
type(l[0][1])

In [ ]:
l[1]

In [ ]:
titanic_slice.loc[titanic_slice.sex == "female"]

In [ ]:
titanic_slice_f = titanic_slice.loc[titanic_slice.sex == "female"]
titanic_slice_f

In [ ]:
titanic_slice_m = titanic_slice.loc[titanic_slice.sex == "male"]
titanic_slice_m

In [ ]:
titanic_slice_f.equals(l[0][1])

In [ ]:
for element in gbo:
    print(element[1])

## Splitting with many Keys

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer.info()

In [ ]:
summer.Country.nunique()

In [ ]:
split1 = summer.groupby("Country")

In [ ]:
l = list(split1)
l

In [ ]:
len(l)

In [ ]:
l[100][1]

In [ ]:
split2 = summer.groupby(by = ["Country", "Gender"])

In [ ]:
l2 = list(split2)
l2

In [ ]:
len(l2)

In [ ]:
l2[104]

In [ ]:
l2[104][0]

In [ ]:
l2[104][1]

## split-apply-combine explained

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic_slice = titanic.iloc[:10, [2,3]]

In [ ]:
titanic_slice

In [ ]:
list(titanic_slice.groupby("sex"))[0][1]

In [ ]:
list(titanic_slice.groupby("sex"))[1][1]

In [ ]:
titanic_slice.groupby("sex").mean()

In [ ]:
titanic.groupby("sex").survived.sum()

In [ ]:
titanic.groupby("sex")[["fare", "age"]].max()

In [ ]:
new_df = titanic.groupby("sex").mean(numeric_only = True)

In [ ]:
new_df

In [ ]:
import matplotlib.pyplot as plt
plt.style.use("seaborn-v0_8")

In [ ]:
new_df.plot(kind = "bar", subplots = True, figsize = (8,15), fontsize = 13)
plt.show()