# Investment Multiple and CAGR

### Two alternative reward metrics that are more intuitive and easier to interpret

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
BA = pd.read_csv('ba_csv.csv', index_col = "Date", parse_dates=["Date"])
BA

                                Price   Returns
Date
2014-10-21 00:00:00+00:00  127.120003       NaN
2014-10-22 00:00:00+00:00  121.449997 -0.044604
2014-10-23 00:00:00+00:00  122.029999  0.004776
2014-10-24 00:00:00+00:00  122.239998  0.001721
2014-10-27 00:00:00+00:00  122.120003 -0.000982
...                               ...       ...
2024-10-14 00:00:00+00:00  148.990005 -0.013442
2024-10-15 00:00:00+00:00  152.350006  0.022552
2024-10-16 00:00:00+00:00  154.899994  0.016738
2024-10-17 00:00:00+00:00  155.309998  0.002647
2024-10-18 00:00:00+00:00  155.000000 -0.001996

[2516 rows x 2 columns]

***Investment Multiple***: Ending Value of 1 invested.
Multiple = Ending Value / Initial Investment

In [4]:
multiple = (BA.Price[-1] / BA.Price[0])
multiple

/tmp/ipykernel_36041/2584416753.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  multiple = (BA.Price[-1] / BA.Price[0])

1.2193203009049463

***Price Increase (in %)***

In [7]:
(multiple - 1) * 100

21.932030090494624

In [8]:
BA.Price / BA.Price[0] # similar/identical concept: Normalized Price with Base Value 1

/tmp/ipykernel_36041/563967403.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  BA.Price / BA.Price[0] # similar/identical concept: Normalized Price with Base Value 1

Date
2014-10-21 00:00:00+00:00    1.000000
2014-10-22 00:00:00+00:00    0.955396
2014-10-23 00:00:00+00:00    0.959959
2014-10-24 00:00:00+00:00    0.961611
2014-10-27 00:00:00+00:00    0.960667
                               ...
2024-10-14 00:00:00+00:00    1.172042
2024-10-15 00:00:00+00:00    1.198474
2024-10-16 00:00:00+00:00    1.218534
2024-10-17 00:00:00+00:00    1.221759
2024-10-18 00:00:00+00:00    1.219320
Name: Price, Length: 2516, dtype: float64

***Drawback of Investment Multiple: Does not take into account investment Period. Meaningful only in conjunction with Investment Period***

***Compound Annual Growth Rate (CAGR):*** The (constant annual) rate of return that would be required for an investment to grow from its beginning balance to its ending balance, assuming the profit were reinvested at the end of each year of the investments`s lifespan.

In [16]:
start = BA.index[0]
start

Timestamp('2014-10-21 00:00:00+0000', tz='UTC')

In [19]:
end = BA.index[-1]
end

Timestamp('2024-10-18 00:00:00+0000', tz='UTC')

In [20]:
time_delta = end - start
time_delta

Timedelta('3650 days 00:00:00')

In [21]:
time_delta_years = time_delta.days / 365.25
time_delta_years

9.99315537303217

In [22]:
CAGR = multiple**(1 / time_delta_years) - 1 # short version
CAGR

0.02004111882791637

In [35]:
CAGR = (BA.Price[-1]/BA.Price[0])**(1/((BA.index[-1] - BA.index[0]).days / 365.25)) - 1 # long version
CAGR

/tmp/ipykernel_36041/820358502.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (BA.Price[-1]/BA.Price[0])**(1/((BA.index[-1] - BA.index[0]).days / 365.25)) - 1 # long version

0.02004111882791637

# Compound Returns & Geometric Mean Return

In [24]:
multiple = (1 + BA.Returns).prod() # Alternative #3 to calculate multiple (compound daily returns)
multiple

1.2193203009050204

In [25]:
n = BA.Returns.count()
n

2515

***Geometric return*** actually has a similar definition as the compound annual growth rate (CAGR). So the only difference is that in our case the geometric mean return is based on daily data. Sp we could say that the geometric mean return is the constant daily rate of return that would be required for investment to grow from its beginning balance to its ending balance, assuming the profits were reinvested.

In [26]:
geo_mean = multiple**(1 / n) - 1 # Geometric mean return (daily)
geo_mean

7.884747135400438e-05

In [27]:
(1 + geo_mean)**n # alternative #4 to calculate multiple (geometric mean)

1.2193203009050257

***-> Compound returns, CAGR & geometric mean return are closely related concepts.***

In [29]:
mu = BA.Returns.mean() # arithmetic mean return
mu

0.0003994943930349097

***The arithmetic mean return is always greater than the geometric mean return and less useful.*** So it`s better to use the geometric mean or event better, we should work with ***logarithmic returns***.

In [30]:
(1 + mu)**n # calculate multiple? not possible with arithmetic mean!

2.730617462154803