# SOLUTION Jupyter Notebook Basics Exercise

## Part 1

Run the following cell:

In [1]:
u = "Cnrt!Yuddi!"
l = 'ogas o i t!'
"".join(i + j for i, j in zip(u, l))

'Congrats! You did it!!'

## Part 2

In [3]:
# Replace <YOURNAME> with your name and then run this cell
"Wow, Blue is the most amazing person on this planet"

'Wow, Blue is the most amazing person on this planet'

## Part 3
Create 3 new empty cells directly below this cell.

## Part 4

In [4]:
#Run this cell!
print("chicken nuggetz")

chicken nuggetz

## Part 5
These cells are out of order! Swap their order and then run them both!

In [5]:
number = 69

In [6]:
number * number

4761

## Part 6

In [7]:
### Make this cell a python cell and run it (it's markdown right now)

"supercalifragilisticexpialidocious" * 20

'supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious'

## Part 7

In [9]:
# This cell is supposed to print the integers from 9 down to 1 (but it doesnt!)
# 1. Run this cell which results in an INFINITE LOOP
# 2. Interrupt the infinite loop
# 3. Fix the code so that it prints 9,8,7,6,5,4,3,2,1 and run the cell again!

num = 10 
while num > 1:
    num-=1
    print(num)

9
8
7
6
5
4
3
2
1

## Part 8
Shutdown this notebook