# DataFrames Basics

In [3]:
!{sys.executable} -m pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     ------------------- ------------------ 30.7/61.0 kB 435.7 kB/s eta 0:00:01
     ------------------------------- ------ 51.2/61.0 kB 525.1 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 360.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in e:\python\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in e:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 3.2 MB/s eta 0:00:04
   ---------------------------------------- 0.1/11.5 MB 2.1 MB/s eta 0:00:06
    --------------------------------------- 0.3/11.5 MB 2.3 MB/s eta 0:00:05
   - -------------------------------------- 0.4/11.5 MB 2.2 MB/s eta 0:00:06
   - -------------------------------------- 0.5/11.5 MB 2.2 MB/s eta 0:00:05
   -- ------------------------------------- 0.6/11.5 MB 2.3 MB/s eta 0:00:05
   -- ------------------------------------- 0.7/11.5 MB 2.3 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/11.5 MB 2.4 MB/s eta 0:00:05
   --- ------------------------------------ 1.0/11.5 MB 2.5 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/11.5 MB 2.6 MB/s eta 0:00:05
   ---- ----------------------------------- 1.3/11.5 MB 2.6 MB/s eta 0:00:04
   ----- ---------------------------------- 1.5/11.5 MB 2.8 MB/s eta 0:00:04
   ----- ---------------------------------- 1.7/11.5 MB 2.9 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.5 MB 2.9 MB/s eta 0:00:04
   ------ --------------------------------- 2.0/11.5 MB 2.9 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.5 MB 2.8 MB/s eta 0:00:04
   ------- -------------------------------- 2.3/11.5 MB 2.9 MB/s eta 0:00:04
   -------- ------------------------------- 2.5/11.5 MB 3.0 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.5 MB 3.0 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.5 MB 3.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.5 MB 3.1 MB/s eta 0:00:03
   ----------- ---------------------------- 3.2/11.5 MB 3.1 MB/s eta 0:00:03
   ----------- ---------------------------- 3.3/11.5 MB 3.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.5/11.5 MB 3.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.6/11.5 MB 3.1 MB/s eta 0:00:03
   ------------- -------------------------- 3.8/11.5 MB 3.2 MB/s eta 0:00:03
   ------------- -------------------------- 4.0/11.5 MB 3.2 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.5 MB 3.2 MB/s eta 0:00:03
   --------------- ------------------------ 4.3/11.5 MB 3.2 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.5 MB 3.2 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.5 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.9/11.5 MB 3.3 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.5 MB 3.3 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.5 MB 3.3 MB/s eta 0:00:02
   ------------------ --------------------- 5.4/11.5 MB 3.3 MB/s eta 0:00:02
   ------------------- -------------------- 5.6/11.5 MB 3.3 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.5 MB 3.3 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.5 MB 3.4 MB/s eta 0:00:02
   --------------------- ------------------ 6.1/11.5 MB 3.3 MB/s eta 0:00:02
   --------------------- ------------------ 6.2/11.5 MB 3.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.4/11.5 MB 3.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.6/11.5 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 6.9/11.5 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.5 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.5 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.5 MB 3.4 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.5 MB 3.4 MB/s eta 0:00:02
   ---------------------------- ----------- 8.0/11.5 MB 3.4 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.5 MB 3.4 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 3.4 MB/s eta 0:00:01
   ----------------------------- ---------- 8.6/11.5 MB 3.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.5 MB 3.4 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.5 MB 3.4 MB/s eta 0:00:01
   ------------------------------- -------- 9.1/11.5 MB 3.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.5 MB 3.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 3.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.5/11.5 MB 3.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 3.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 3.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.3/11.5 MB 3.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.5 MB 3.6 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 3.6 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.4 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/15.5 MB 1.3 MB/s eta 0:00:12
   ---------------------------------------- 0.2/15.5 MB 1.5 MB/s eta 0:00:11
    --------------------------------------- 0.2/15.5 MB 1.5 MB/s eta 0:00:11
    --------------------------------------- 0.3/15.5 MB 1.5 MB/s eta 0:00:11
    --------------------------------------- 0.3/15.5 MB 1.3 MB/s eta 0:00:12
   - -------------------------------------- 0.5/15.5 MB 1.7 MB/s eta 0:00:10
   - -------------------------------------- 0.7/15.5 MB 2.0 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/15.5 MB 2.1 MB/s eta 0:00:07
   -- ------------------------------------- 1.0/15.5 MB 2.3 MB/s eta 0:00:07
   -- ------------------------------------- 1.1/15.5 MB 2.3 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/15.5 MB 2.4 MB/s eta 0:00:06
   --- ------------------------------------ 1.4/15.5 MB 2.5 MB/s eta 0:00:06
   --- ------------------------------------ 1.5/15.5 MB 2.5 MB/s eta 0:00:06
   ---- ----------------------------------- 1.6/15.5 MB 2.4 MB/s eta 0:00:06
   ---- ----------------------------------- 1.7/15.5 MB 2.4 MB/s eta 0:00:06
   ---- ----------------------------------- 1.8/15.5 MB 2.4 MB/s eta 0:00:06
   ---- ----------------------------------- 1.9/15.5 MB 2.4 MB/s eta 0:00:06
   ----- ---------------------------------- 2.1/15.5 MB 2.4 MB/s eta 0:00:06
   ----- ---------------------------------- 2.2/15.5 MB 2.5 MB/s eta 0:00:06
   ------ --------------------------------- 2.4/15.5 MB 2.5 MB/s eta 0:00:06
   ------ --------------------------------- 2.5/15.5 MB 2.5 MB/s eta 0:00:06
   ------ --------------------------------- 2.7/15.5 MB 2.5 MB/s eta 0:00:06
   ------- -------------------------------- 2.8/15.5 MB 2.6 MB/s eta 0:00:05
   ------- -------------------------------- 2.9/15.5 MB 2.6 MB/s eta 0:00:05
   ------- -------------------------------- 3.0/15.5 MB 2.6 MB/s eta 0:00:05
   ------- -------------------------------- 3.1/15.5 MB 2.5 MB/s eta 0:00:05
   -------- ------------------------------- 3.1/15.5 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.3/15.5 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.3/15.5 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.5/15.5 MB 2.4 MB/s eta 0:00:05
   --------- ------------------------------ 3.6/15.5 MB 2.5 MB/s eta 0:00:05
   --------- ------------------------------ 3.7/15.5 MB 2.5 MB/s eta 0:00:05
   ---------- ----------------------------- 3.9/15.5 MB 2.5 MB/s eta 0:00:05
   ---------- ----------------------------- 4.0/15.5 MB 2.5 MB/s eta 0:00:05
   ---------- ----------------------------- 4.1/15.5 MB 2.5 MB/s eta 0:00:05
   ---------- ----------------------------- 4.1/15.5 MB 2.5 MB/s eta 0:00:05
   ---------- ----------------------------- 4.2/15.5 MB 2.4 MB/s eta 0:00:05
   ----------- ---------------------------- 4.3/15.5 MB 2.4 MB/s eta 0:00:05
   ----------- ---------------------------- 4.4/15.5 MB 2.4 MB/s eta 0:00:05
   ----------- ---------------------------- 4.5/15.5 MB 2.4 MB/s eta 0:00:05
   ----------- ---------------------------- 4.6/15.5 MB 2.4 MB/s eta 0:00:05
   ------------ --------------------------- 4.8/15.5 MB 2.4 MB/s eta 0:00:05
   ------------- -------------------------- 5.1/15.5 MB 2.5 MB/s eta 0:00:05
   ------------- -------------------------- 5.2/15.5 MB 2.5 MB/s eta 0:00:05
   ------------- -------------------------- 5.4/15.5 MB 2.5 MB/s eta 0:00:05
   -------------- ------------------------- 5.6/15.5 MB 2.6 MB/s eta 0:00:04
   -------------- ------------------------- 5.8/15.5 MB 2.6 MB/s eta 0:00:04
   --------------- ------------------------ 6.0/15.5 MB 2.7 MB/s eta 0:00:04
   ---------------- ----------------------- 6.2/15.5 MB 2.7 MB/s eta 0:00:04
   ---------------- ----------------------- 6.4/15.5 MB 2.7 MB/s eta 0:00:04
   ----------------- ---------------------- 6.7/15.5 MB 2.8 MB/s eta 0:00:04
   ----------------- ---------------------- 6.9/15.5 MB 2.8 MB/s eta 0:00:04
   ------------------ --------------------- 7.2/15.5 MB 2.9 MB/s eta 0:00:03
   ------------------ --------------------- 7.3/15.5 MB 2.9 MB/s eta 0:00:03
   ------------------- -------------------- 7.5/15.5 MB 2.9 MB/s eta 0:00:03
   -------------------- ------------------- 7.8/15.5 MB 2.9 MB/s eta 0:00:03
   -------------------- ------------------- 8.1/15.5 MB 3.0 MB/s eta 0:00:03
   --------------------- ------------------ 8.3/15.5 MB 3.0 MB/s eta 0:00:03
   ---------------------- ----------------- 8.6/15.5 MB 3.1 MB/s eta 0:00:03
   ---------------------- ----------------- 8.8/15.5 MB 3.1 MB/s eta 0:00:03
   ----------------------- ---------------- 9.0/15.5 MB 3.1 MB/s eta 0:00:03
   ----------------------- ---------------- 9.3/15.5 MB 3.2 MB/s eta 0:00:02
   ------------------------ --------------- 9.6/15.5 MB 3.2 MB/s eta 0:00:02
   ------------------------- -------------- 9.7/15.5 MB 3.2 MB/s eta 0:00:02
   ------------------------- -------------- 10.0/15.5 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 10.2/15.5 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 10.3/15.5 MB 3.3 MB/s eta 0:00:02
   --------------------------- ------------ 10.5/15.5 MB 3.4 MB/s eta 0:00:02
   --------------------------- ------------ 10.7/15.5 MB 3.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.0/15.5 MB 3.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.1/15.5 MB 3.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.1/15.5 MB 3.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.1/15.5 MB 3.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.1/15.5 MB 3.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.1/15.5 MB 3.5 MB/s eta 0:00:02
   ----------------------------- ---------- 11.5/15.5 MB 3.3 MB/s eta 0:00:02
   ------------------------------- -------- 12.3/15.5 MB 3.7 MB/s eta 0:00:01
   -------------------------------- ------- 12.5/15.5 MB 3.7 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.5 MB 3.7 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.5 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 13.1/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 13.4/15.5 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 13.7/15.5 MB 4.1 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.5 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.5 MB 4.2 MB/s eta 0:00:01
   ------------------------------------- -- 14.4/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 4.5 MB/s eta 0:00:01
   -------------------------------------- - 15.0/15.5 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.5 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 4.3 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------- ------------------------ 194.6/505.5 kB 5.8 MB/s eta 0:00:01
   ----------------------------------- ---- 450.6/505.5 kB 5.6 MB/s eta 0:00:01
   ---------------------------------------  501.8/505.5 kB 5.2 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 3.5 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ----------------------------------- ---- 307.2/345.4 kB 6.3 MB/s eta 0:00:01
   ---------------------------------------  337.9/345.4 kB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 3.1 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [4]:
import pandas as pd

The `read_csv` method will read in a CSV file and returns to us a DataFrame

In [5]:
states = pd.read_csv("data/states.csv")
states

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

## King County Home Sales Data Set
This dataset includes the home sales from 2014-2015 in King County, WA (the county Seattle is located in)
* `id` - house's unique id
* `date` - sale date
* `price` - sale price
* `bedrooms` - number of bedrooms
* `bathrooms` - numbers of bathrooms
* `sqft_living` - living space square footage 
* `sqft_lot` - total lot square footage
* `floors` - numbers of floors
* `waterfront` - is the house waterfront (1) or not (0)
* `view` - rating from 0 to 4 of how good the view from the house is
* `condition` - rating from 1 (poor) to 5 (very good) of the condition of the house
* `grade` - rating from 1-13 representing the construction quality of improvements. 1-3 Falls short of minimum building standards (cabins, etc.) 7 is avg grade, 11-13 have high-quality design & construction
* `sqft_above` - square footage of the interior that is above ground level
* `sqft_basement` - square footage of the interior that is below ground level
* `yr_built` - year the house was initially built
* `yr_renovated` - The year of the house’s last renovation (if any)
* `zipcode` - zipcode that the house is located in
* `lat` - the property's latitude
* `long` - the property's longitude
* `sqft_living15` - average interior space square footage of the nearest 15 neighbors
* `sqft_lot15` - average lot square footage of the nearest 15 neighbors

In [6]:
houses = pd.read_csv("data/kc_house_data.csv")

In [7]:
houses.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [9]:
type(houses)

pandas.core.frame.DataFrame

In [10]:
houses.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [11]:
states.columns

Index(['State', 'Abbrev', 'Code'], dtype='object')

In [12]:
len(houses)

21613

In [13]:
houses.shape

(21613, 21)

In [14]:
houses.size

453873

In [15]:
pd.options.display.min_rows = 15

In [16]:
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

The `head()` method returns the first n rows in a NEW DataFrame

In [17]:
first_5 = houses.head()
first_5

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [18]:
type(first_5)

pandas.core.frame.DataFrame

In [19]:
houses.head(200)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,3663500060,20140625T000000,400000.0,3,2.50,2180,7508,1.0,0,0,...,7,1420,760,1962,0,98133,47.7606,-122.336,1900,7818
194,3996900125,20141201T000000,230000.0,3,1.00,1060,10228,1.0,0,0,...,7,1060,0,1948,0,98155,47.7481,-122.300,1570,10228
195,7796450200,20140515T000000,256883.0,3,2.50,1690,5025,2.0,0,0,...,8,1690,0,2003,0,98023,47.2779,-122.347,2550,5001
196,7549802535,20141111T000000,423000.0,4,2.00,1970,6480,1.5,0,0,...,7,1130,840,1920,0,98108,47.5511,-122.312,1500,6480
197,3278600320,20140723T000000,465000.0,3,2.50,2150,4084,2.0,0,0,...,8,2150,0,2007,0,98126,47.5488,-122.372,1750,2385
198,2824079053,20150113T000000,440000.0,3,2.50,1910,66211,2.0,0,0,...,7,1910,0,1997,0,98024,47.5385,-121.911,2330,67268
199,1222069094,20141014T000000,385000.0,3,1.75,1350,155073,1.0,0,0,...,7,1350,0,1969,0,98038,47.4058,-121.994,1560,50965

The `tail()` method is like `head()` but it works from the END of a DataFrame.  By default it returns the last 5 rows in a new DataFrame.

In [20]:
houses.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [50]:
houses.tail(9)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [21]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [22]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   Abbrev  51 non-null     object
 2   Code    51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [23]:
houses.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

## Introducing The Titanic Dataset

In [24]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [25]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

* `pclass` - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
* `survived` - Survival (0 = No; 1 = Yes)
* `name` - Name
* `sex` - Sex
* `age` - Age
* `sibsp` - Number of Siblings/Spouses Aboard
* `parch` - Number of Parents/Children Aboard
* `ticket` - Ticket Number
* `fare` - Passenger Fare
* `cabin` - Cabin
* `embarked` - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
* `boat` - Lifeboat (if survived)
* `body` - Body number (if did not survive and body was recovered)
* `home.dest` - Home/Destination

In [27]:
titanic.tail(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1299,3,0,"Yasbeck, Mr. Antoni",male,27,1,0,2659,14.4542,?,C,C,?,?
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,?,C,?,?,?
1301,3,0,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,?,C,?,312,?
1302,3,0,"Yousif, Mr. Wazli",male,?,0,0,2647,7.225,?,C,?,?,?
1303,3,0,"Yousseff, Mr. Gerious",male,?,0,0,2627,14.4583,?,C,?,?,?
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [28]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1309 non-null   object
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1309 non-null   object
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       1309 non-null   object
 13  home.dest  1309 non-null   object
dtypes: int64(4), object(10)
memory usage: 143.3+ KB

In [29]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

## read_csv with non-comma separators
The `netflix_titles.csv` file is actually pipe (`|`) separated.  We can tell `read_csv` to expect this using the `sep="|"` option. 

Additionally, the netflix dataset includes an index column as the very first column.  We can let `read_csv` know using `index_col=0`

In [30]:
netflix = pd.read_csv("data/netflix_titles.csv", sep="|", index_col=0)

In [31]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [32]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Proving Column Names

We can provide a list of custom column names to `read_csv` using the `names` parameter.  Additionally, we need to specify `header=0` to tell `read_csv` that the file still contains the original headers on the first line and that it should ignore them!

In [33]:
names = ['sumlev', 'region', 'division', 'state', 'name', 'census2010pop', 'estimatesbase2010', 'popestimate2010', 'popestimate2011', 'popestimate2012', 'popestimate2013', 'popestimate2014', 'popestimate2015', 'popestimate2016', 'popestimate2017', 'popestimate2018', 'popestimate2019', 'popestimate042020', 'popestimate2020']
state_pops = pd.read_csv("data/nst-est2020.csv", names=names, header=0)
state_pops

,sumlev,region,division,state,name,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,popestimate042020,popestimate2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329398742,329484123
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55924275,55849869
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68357895,68316744
3,20,3,0,0,South Region,114555744,114563042,114869421,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126494232,126662754
4,20,4,0,0,West Region,71945553,71946912,72101630,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78622340,78654756
5,40,3,6,1,Alabama,4779736,4780118,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4920706,4921532
6,40,4,9,2,Alaska,710231,710246,713982,722349,730810,737626,737075,738430,742575,740983,736624,733603,732074,731158
7,40,4,8,4,Arizona,6392017,6392292,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7393900,7421401
8,40,3,7,5,Arkansas,2915918,2916029,2921998,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3029672,3030522
9,40,4,9,6,California,37253956,37254522,37319550,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39418894,39368078
10,40,4,8,8,Colorado,5029196,5029319,5047539,5121900,5193660,5270774,5352637,5454328,5543844,5617421,5697155,5758486,5798266,5807719
11,40,1,1,9,Connecticut,3574097,3574151,3579173,3588632,3595211,3595792,3595697,3588561,3579830,3575324,3574561,3566022,3561494,3557006
12,40,3,5,10,Delaware,897934,897947,899647,907590,915518,924062,933131,942065,949989,957942,966985,976668,984899,986809
13,40,3,5,11,District of Columbia,601723,601767,605282,620290,635737,651559,663603,677014,687576,697079,704147,708253,712185,712816
14,40,3,5,12,Florida,18801310,18804589,18846143,19055607,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21688239,21733312
15,40,3,5,13,Georgia,9687653,9688737,9712209,9803630,9903580,9975592,10071204,10183353,10308442,10417031,10519389,10628020,10695662,10710017
16,40,4,9,15,Hawaii,1360301,1360304,1364004,1379562,1395199,1408822,1415335,1422999,1428885,1425763,1423102,1415615,1410587,1407006
17,40,4,8,16,Idaho,1567582,1567658,1570819,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1818238,1826913
18,40,2,3,17,Illinois,12830632,12831572,12840545,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12615162,12587530
19,40,2,3,18,Indiana,6483802,6484050,6490555,6517250,6538989,6570575,6596019,6611442,6637898,6662068,6698481,6731010,6752183,6754953
20,40,2,4,19,Iowa,3046355,3046877,3050819,3066772,3076844,3093935,3110643,3122541,3133210,3143734,3149900,3159596,3164115,3163561
21,40,2,4,20,Kansas,2853118,2853120,2858266,2869677,2886024,2894306,2901861,2910717,2912977,2910892,2912748,2912635,2915024,2913805
22,40,3,6,21,Kentucky,4339367,4339330,4348464,4370817,4387865,4406906,4416992,4429126,4440306,4455590,4464273,4472345,4477899,4477251
23,40,3,7,22,Louisiana,4533372,4533500,4544635,4576244,4602067,4626040,4645938,4666998,4681346,4673673,4664450,4658285,4650984,4645318
24,40,1,1,23,Maine,1328361,1328354,1327651,1328473,1328094,1328543,1331217,1329098,1332348,1335743,1340123,1345770,1349647,1350141
25,40,3,5,24,Maryland,5773552,5773787,5788784,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6059529,6055802
26,40,1,1,25,Massachusetts,6547629,6547788,6566440,6614218,6664269,6715158,6764864,6797484,6827280,6863560,6885720,6894883,6898116,6893574
27,40,2,3,26,Michigan,9883640,9884112,9877597,9883053,9898289,9914802,9932033,9934483,9954117,9976752,9987286,9984795,9976330,9966555
28,40,2,4,27,Minnesota,5303925,5303933,5310934,5346620,5377500,5414722,5452665,5484002,5525360,5569283,5608762,5640053,5655855,5657342
29,40,3,6,28,Mississippi,2967297,2968129,2970615,2979147,2984599,2989839,2991892,2990231,2990595,2990674,2982879,2978227,2971253,2966786
30,40,2,4,29,Missouri,5988927,5988941,5996089,6011182,6026027,6042989,6059130,6075411,6091384,6111382,6125986,6140475,6151737,6151548
31,40,4,8,30,Montana,989415,989400,990730,997518,1004168,1014158,1022657,1031495,1042137,1053862,1061818,1070123,1078405,1080577
32,40,2,4,31,Nebraska,1826341,1826311,1829591,1840914,1853691,1865813,1879955,1892059,1906483,1916998,1925512,1932571,1937258,1937552
33,40,4,8,32,Nevada,2700551,2700683,2702483,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3128500,3138259
34,40,1,1,33,New Hampshire,1316470,1316457,1316807,1320444,1324677,1327272,1334257,1337480,1343694,1350395,1355064,1360783,1365533,1366275
35,40,1,2,34,New Jersey,8791894,8791959,8799451,8828552,8845671,8857821,8867277,8870312,8873584,8888147,8891730,8891258,8890883,8882371
36,40,4,8,35,New Mexico,2059179,2059199,2064614,2080707,2087715,2092833,2090236,2090071,2092555,2092844,2093754,2099634,2106117,2106319
37,40,1,2,36,New York,19378102,19378117,19399956,19499921,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,19382373,19336776
38,40,3,5,37,North Carolina,9535483,9535762,9574586,9658913,9751810,9846717,9937295,10037218,10161802,10275758,10391358,10501384,10581885,10600823
39,40,2,4,38,North Dakota,672591,672575,674752,685526,702227,723149,738736,755537,756114,756755,760062,763724,765224,765309
40,40,2,3,39,Ohio,11536504,11536763,11539449,11545735,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11699855,11693217
41,40,3,7,40,Oklahoma,3751351,3751582,3760014,3788824,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3977682,3980783
42,40,4,9,41,Oregon,3831074,3831083,3837614,3872672,3900102,3924110,3965447,4018542,4093271,4147294,4183538,4216116,4237408,4241507
43,40,1,2,42,Pennsylvania,12702379,12702891,12711406,12747052,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12794404,12783254
44,40,1,1,44,Rhode Island,1052567,1052970,1053994,1053829,1054893,1055560,1056511,1056886,1057816,1056554,1059338,1058158,1058004,1057125
45,40,3,5,45,South Carolina,4625364,4625358,4635846,4672655,4719027,4766469,4826858,4896006,4963031,5027102,5091702,5157702,5205864,5218040
46,40,2,4,46,South Dakota,814180,814198,816193,823740,833859,842751,849670,854663,863693,873732,879386,887127,891688,892717
47,40,3,6,47,Tennessee,6346105,6346281,6355518,6400298,6455752,6496943,6544617,6595354,6651277,6714748,6778180,6830325,6875939,6886834
48,40,3,7,48,Texas,25145561,25146072,25241897,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29286467,29360759
49,40,4,8,49,Utah,2763885,2763891,2775413,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3239542,3249879
50,40,1,1,50,Vermont,625741,625727,625886,627197,626361,626603,625693,625810,624366,625132,624802,624046,623821,623347
51,40,3,5,51,Virginia,8001024,8001046,8024004,8102437,8187456,8255861,8315430,8367303,8417651,8471011,8510920,8556642,8587217,8590563
52,40,4,9,53,Washington,6724540,6724540,6743009,6827479,6898599,6966252,7057531,7167287,7299961,7427951,7526793,7614024,7678379,7693612
53,40,3,5,54,West Virginia,1852994,1853008,1854265,1856606,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1788150,1784787
54,40,2,3,55,Wisconsin,5686986,5687285,5690538,5705840,5720825,5738012,5753199,5762927,5775170,5793147,5809319,5824581,5833464,5832655
55,40,4,8,56,Wyoming,563626,563775,564531,567491,576656,582620,583159,586389,585243,579994,579054,580116,582030,582328
56,40,X,X,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325284,3193344,3193553,3167851,3159343