# SOLUTION DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Rating score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [1]:
import pandas as pd

In [2]:
bestsellers = pd.read_csv("data/bestsellers.csv")

In [4]:
bestsellers.min()

Name           10-Day Green Smoothie Cleanse
Author                      Abraham Verghese
User Rating                              3.3
Reviews                                   37
Price                                      0
Year                                    2009
Genre                                Fiction
dtype: object

In [5]:
bestsellers.max()

Name           You Are a Badass: How to Stop Doubting Your Gr...
Author                                              Zhi Gang Sha
User Rating                                                  4.9
Reviews                                                    87841
Price                                                        105
Year                                                        2019
Genre                                                Non Fiction
dtype: object

In [6]:
bestsellers.mean()

User Rating        4.618364
Reviews        11953.281818
Price             13.100000
Year            2014.000000
dtype: float64

In [9]:
bestsellers.head().mean()

User Rating        4.7
Reviews        13494.0
Price             12.6
Year            2016.2
dtype: float64

In [13]:
bestsellers.mode()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Publication Manual of the American Psychologic...,Jeff Kinney,4.8,8580.0,8.0,2009,Non Fiction
1,NaN,NaN,NaN,NaN,NaN,2010,NaN
2,NaN,NaN,NaN,NaN,NaN,2011,NaN
3,NaN,NaN,NaN,NaN,NaN,2012,NaN
4,NaN,NaN,NaN,NaN,NaN,2013,NaN
5,NaN,NaN,NaN,NaN,NaN,2014,NaN
6,NaN,NaN,NaN,NaN,NaN,2015,NaN
7,NaN,NaN,NaN,NaN,NaN,2016,NaN
8,NaN,NaN,NaN,NaN,NaN,2017,NaN
9,NaN,NaN,NaN,NaN,NaN,2018,NaN
10,NaN,NaN,NaN,NaN,NaN,2019,NaN

In [14]:
bestsellers.sum()

Name           10-Day Green Smoothie Cleanse11/22/63: A Novel...
Author         JJ SmithStephen KingJordan B. PetersonGeorge O...
User Rating                                               2540.1
Reviews                                                  6574305
Price                                                       7205
Year                                                     1107700
Genre          Non FictionFictionNon FictionFictionNon Fictio...
dtype: object

In [18]:
bestsellers.describe(include=["O"])

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310