# Jupyter Notebook Basics Exercise

## Part 1

Run the following cell:

In [2]:
u = "Cnrt!Yuddi!"
l = 'ogas o i t!'
"".join(i + j for i, j in zip(u, l))

## Part 2

In [ ]:
# Replace <YOURNAME> with your name and then run this cell
"Wow, <YOURNAME> is the most amazing person on this planet"

## Part 3
Create 3 new empty cells directly below this cell.

## Part 4

In [ ]:
#Delete this cell!

In [ ]:
#Run this cell!
print("chicken nuggetz")

In [ ]:
#Delete this cell!

## Part 5
These cells are out of order! Swap their order and then run them both!

In [ ]:
number * number

In [ ]:
number = 69

## Part 6

### Make this cell a python cell and run it (it's markdown right now)

"supercalifragilisticexpialidocious" * 20

## Part 7

In [ ]:
# This cell is supposed to print the integers from 9 down to 1 (but it doesnt!)
# 1. Run this cell which results in an INFINITE LOOP
# 2. Interrupt the infinite loop
# 3. Fix the code so that it prints 9,8,7,6,5,4,3,2,1 and run the cell again!

num = 10 
while num > 1:
    num+=1
    print(num)

## Part 8
Shutdown this notebook