# Log Returns

 Logarithmic returns, also known as log returns, are a way of measuring the percentage change in the value of an asset over a period of time.

In [1]:
import pandas as pd
import numpy as np

In [2]:
BA = pd.read_csv('ba_csv.csv', index_col="Date", parse_dates=["Date"])
BA

                                Price   Returns
Date
2014-10-21 00:00:00+00:00  127.120003       NaN
2014-10-22 00:00:00+00:00  121.449997 -0.044604
2014-10-23 00:00:00+00:00  122.029999  0.004776
2014-10-24 00:00:00+00:00  122.239998  0.001721
2014-10-27 00:00:00+00:00  122.120003 -0.000982
...                               ...       ...
2024-10-14 00:00:00+00:00  148.990005 -0.013442
2024-10-15 00:00:00+00:00  152.350006  0.022552
2024-10-16 00:00:00+00:00  154.899994  0.016738
2024-10-17 00:00:00+00:00  155.309998  0.002647
2024-10-18 00:00:00+00:00  155.000000 -0.001996

[2516 rows x 2 columns]

In [3]:
BA["log_ret_daily"] = np.log(BA.Price / BA.Price.shift()) # daily log returns
BA

                                Price   Returns  log_ret_daily
Date
2014-10-21 00:00:00+00:00  127.120003       NaN            NaN
2014-10-22 00:00:00+00:00  121.449997 -0.044604      -0.045629
2014-10-23 00:00:00+00:00  122.029999  0.004776       0.004764
2014-10-24 00:00:00+00:00  122.239998  0.001721       0.001719
2014-10-27 00:00:00+00:00  122.120003 -0.000982      -0.000982
...                               ...       ...            ...
2024-10-14 00:00:00+00:00  148.990005 -0.013442      -0.013533
2024-10-15 00:00:00+00:00  152.350006  0.022552       0.022301
2024-10-16 00:00:00+00:00  154.899994  0.016738       0.016599
2024-10-17 00:00:00+00:00  155.309998  0.002647       0.002643
2024-10-18 00:00:00+00:00  155.000000 -0.001996      -0.001998

[2516 rows x 3 columns]

In [4]:
BA_mean_log_ret = BA["log_ret_daily"].mean()
BA_mean_log_ret

7.884436305549568e-05

In [5]:
sigma = BA["log_ret_daily"].std() # standard deviation of log returns -> Risk/Volatility
sigma

0.02536894404295705

In [6]:
BA.describe()

             Price      Returns  log_ret_daily
count  2516.000000  2515.000000    2515.000000
mean    217.283299     0.000399       0.000079
std      80.527555     0.025300       0.025369
min      95.010002    -0.238484      -0.272444
25%     149.777500    -0.010068      -0.010119
50%     197.495003     0.000291       0.000291
75%     255.654995     0.010768       0.010711
max     440.619995     0.243186       0.217677

# Simple Returns vs Log Returns (Part 1)

In [7]:
df = pd.DataFrame(data = [100, 50, 90], columns=["Price"])
df

   Price
0    100
1     50
2     90

In [8]:
df["SR"] = df.Price.pct_change() # simple returns

In [10]:
df["LR"] = np.log(df.Price / df.Price.shift()) # log returns

In [11]:
df

   Price   SR        LR
0    100  NaN       NaN
1     50 -0.5 -0.693147
2     90  0.8  0.587787

In [12]:
periods = df.SR.count()
periods

2

In [13]:
mean_sr = df.SR.mean()
mean_sr

0.15000000000000002

***The arithmetic mean of simple returns can be misleading*** Log Returns are better choice which are additive over time!

In [15]:
sum_lr = df.LR.sum()
sum_lr

-0.10536051565782623

In [16]:
100 * np.exp(sum_lr)

90.0

In [17]:
mean_lr = df.LR.mean()
mean_lr

-0.05268025782891311

In [18]:
100 * np.exp(mean_lr * periods)

90.0

Log Returns are additive over time. Simple Returns are not additive over time (but they can be multiplied/compounded)

# Investment Multiple

In [21]:
BA.Returns.add(1).cumprod() # compounding simple returns ("compound returns")

Date
2014-10-21 00:00:00+00:00         NaN
2014-10-22 00:00:00+00:00    0.955396
2014-10-23 00:00:00+00:00    0.959959
2014-10-24 00:00:00+00:00    0.961611
2014-10-27 00:00:00+00:00    0.960667
                               ...
2024-10-14 00:00:00+00:00    1.172042
2024-10-15 00:00:00+00:00    1.198474
2024-10-16 00:00:00+00:00    1.218534
2024-10-17 00:00:00+00:00    1.221759
2024-10-18 00:00:00+00:00    1.219320
Name: Returns, Length: 2516, dtype: float64

In [22]:
np.exp(BA.log_ret_daily.cumsum()) # adding log returns ("cumulative returns")

Date
2014-10-21 00:00:00+00:00         NaN
2014-10-22 00:00:00+00:00    0.955396
2014-10-23 00:00:00+00:00    0.959959
2014-10-24 00:00:00+00:00    0.961611
2014-10-27 00:00:00+00:00    0.960667
                               ...
2024-10-14 00:00:00+00:00    1.172042
2024-10-15 00:00:00+00:00    1.198474
2024-10-16 00:00:00+00:00    1.218534
2024-10-17 00:00:00+00:00    1.221759
2024-10-18 00:00:00+00:00    1.219320
Name: log_ret_daily, Length: 2516, dtype: float64